.newpassword {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  > .content {
    width: 40%;
    max-width: 40%;
    box-shadow: 3px 4px 18px -7px rgba(0, 0, 0, 0.77);
    padding: 20px;
    @media screen and (max-width: 700px) {
      width: 95%;
      max-width: 95%;
    }
    > h2 {
      font-size: 35px;
      margin: 20px 0;
      text-align: center;
    }
    > form {
      > .item {
        > input {
          display: block;
          width: 100%;
          border: none;
          outline: none;
          padding: 10px 5px;
          margin-bottom: 20px;
          border-radius: 5px;
        }
      }
      > button {
        display: block;
        border: none;
        outline: none;
        width: 100%;
        padding: 9px;
        color: white;
        background-color: blue;
        cursor: pointer;
      }
    }
    > .errors {
      font-size: small;
      margin: 10px 0;
      color: red;
    }
  }
}
